<h1>ALL MOVIES</h1>
<div class='movies'>

  {{#each movies}}
    <div class='movies-child'>

      <h2>
        <strong>
          {{title}}
        </strong>
      </h2>

      <img src='{{image}}' alt='' />

      <a href='/movies/{{id}}'>See more</a>

    </div>

  {{/each}}
</div>